/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.leaderboard {
  margin-bottom: 4rem;
}

.error-msg {
  color: red;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.text-dark {
  color: black !important;
}

.text-center {
  text-align: center !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
}

html,
body {
  background-color: #eee4da;
  color: #776e65;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.alt-background {
  background-color: #bbada0;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-style {
  background-color: #8f7a66;
}

#game {
  padding: 0px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  border-top: 6px solid #bbada0;
  border-left: 6px solid #bbada0;
}

.cell {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
  border-bottom: 6px solid #bbada0;
  border-right: 6px solid #bbada0;
}

.game-info {
  margin-bottom: 20px;
}

#game-head label {
  font-size: 30px;
  margin: 0;
  font-weight: bold;
  color: #776e65;
}

#game-head #game-score {
  padding: 10px 5px;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  border-radius: 5px;
  background: #8f7a66;
  color: #f9f6f2;
}

#high-score {
  padding: 10px 5px;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  border-radius: 5px;
  background: #8f7a66;
  color: #f9f6f2;
}

.title {
  background-color: #e9ecef;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.settings {
  background-color: #e9ecef;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.game-over-true {
  line-height: 600px;
  width: 600px;
  height: 600px;
  position: absolute;
  z-index: 10;
  text-align: center;
  vertical-align: middle;
  font-size: 3em;
  color: white;
  background-color: rgba(43, 32, 20, 0.73);
}

/* Boutons */

#game-new {
  background: #8f7a66;
  color: #f9f6f2;
  font-weight: bold;
}

#game-new:hover {
  background-color: #50c8ff;
  color: #303030;
  transition: background-color 0.5s, color 0.5s;
}

/* Cells */
.value-null {
  background-color: #eee4da;
}

.value-2 {
  background-color: chocolate !important;
}

.value-4 {
  background-color: cornflowerblue !important;
}

.value-8 {
  background-color: crimson !important;
}

.value-16 {
  background-color: cyan !important;
}

.value-32 {
  background-color: darkblue !important;
}

.value-64 {
  background-color: darkcyan !important;
}

.value-128 {
  background-color: darkgoldenrod !important;
}

.value-256 {
  background-color: darkorange !important;
}

.value-512 {
  background-color: darkgreen !important;
}

.value-1024 {
  background-color: darkmagenta !important;
}
