{% extends "base.html" %} {% block content %}
<div class="py-3">
  <h1>Log In</h1>
</div>
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.username.label }}
    {{ form.username(class="form-control") }}
    {% for error in form.username.errors %}
    <span class="error-msg">{{ error }}</span>
    {% endfor %}
  </div>
  <div class="form-group">
    {{ form.password.label }}
    {{ form.password(class="form-control") }}
    {% for error in form.password.errors %}
    <span class="error-msg">{{ error }}</span>
    {% endfor %}
  </div>
  <div class="form-group">
    <div class="form-check">
      {{ form.remember_me(class="form-check-input") }} {{ form.remember_me.label(class="form-check-label") }}
    </div>
  </div>
  {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
